spacy==3.8.0
transformers==4.38.2
torch==2.2.1
nltk==3.8.1
pandas==2.2.0
numpy==1.26.3
scikit-learn==1.4.0
matplotlib==3.8.2
nicknames==0.1.3
thefuzz==0.20.0
python-Levenshtein==0.23.0
coreferee==1.4.0 